{% extends 'lists/base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
      {% for item in list.item_set.all %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
      {% endfor %}
    </table>
{% endblock %}

{% block extra_content %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-sharee">
        </ul>
    </div>

    <div class="col-md-6">
        <form method="POST" action="#">
          {{ share_form.as_p }}
          {% csrf_token %}
          {% if share_form.errors %}
            <div class="form-group has-error">
              <span class="help-block">{{ share_form.text.errors }} </span>
            </div>
          {% endif %}
        </form>
    </div>
</div>
{% endblock%}
