DJANGO_DEBUG_FALSE=y
SITENAME={{ host }}
{% if ansible_env.DJANGO_SECRET_KEY is none %}
DJANGO_SECRET_KEY={{ host|password_hash('sha512')|truncate(50) }}
{% endif %}
EMAIL_PASSWORD={{ lookup('env', 'EMAIL_PASSWORD') }}
